[user]
	name = git
	email = git@email.org
[color]
	; I want colors!
	ui = always
[core]
	; just making sure those eol's stay as they are
	autocrlf = false
[alias]
	; from http://www.jukie.net/bart/blog/pimping-out-git-log, with author displayed
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
	lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative  --all
	lgba = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches --all
	st=status
	br=branch
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	aliases=config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | awk '{printf 033[1;31m  033[0m; =; print bin/bash;}'
	lo=!sh -c 'git log $1' -
