/dfsmudge.sh
/gcl/gcl
coverage.out
*.stackdump
*.old*
*_log_*
*.crt
/gitolite/grepos*
/apache/crt
/apache/key
/nginx/crt
/nginx/key
/gnupg2/gnupg2.path*
/apache/crts
/tests/out
/tests/err
/tests/steps
/tests/newrepos/
/tests/newusers/
/tests/newcommits/
