@echo off

set HOME=%dp0%.. # (because legacy HOME includes a git credential helper which ill interfere with passwd credential helper)

rem minimal path:
set PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0

rem add Git to PATH
set PATH=%PATH%;C:\prgs\git\PortableGit-1.9.5-preview20141217\bin
set TERM=msys

rem add VirtualBox to PATH
set PATH=%PATH%;C:\prgs\VirtualBox

rem add Boot2Docker to PATH
set PATH=%PATH%;C:\prgs\Boot2Docker4W

rem define proxy if needed
rem set HTTP_PROXY=http://<user>:<pwd>@proxy.company:80
rem set HTTPS_PROXY=http://<user>:<pwd>@proxy.company:80
set NO_PROXY=.company,.sock,localhost,127.0.0.1,::1,192.168.59.103
