@echo off

rem minimal path:
set PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem

rem add Git to PATH
# unzip Git from https://github.com/git-for-windows/git/releases
set GIT_HOME=C:\prgs\git\PortableGit-2.8.1-64-bit
set PATH=%PATH%;%GIT_HOME%\bin;%GIT_HOME%\usr\bin;%GIT_HOME%
set TERM=msys

rem add VirtualBox to PATH (https://www.virtualbox.org/)
set PATH=%PATH%;C:\prgs\VirtualBox

rem add docker-machine to PATH (simple copy from https://github.com/docker/machine/releases)
set PATH=%PATH%;C:\prgs\dm\v0.7.0

rem define proxy if needed
rem set HTTP_PROXY=http://<user>:<pwd>@proxy.company:80
rem set HTTPS_PROXY=http://<user>:<pwd>@proxy.company:80
set NO_PROXY=.cont,.company,.sock,localhost,127.0.0.1,::1,192.168.99.100,192.168.99.101,192.168.99.102,192.168.99.103,192.168.99.104,kv,blessed,staging,external

# set thse variable to true to skip those machine creations
set SKIP_STAGING=
set SKIP_EXTERNAL=
