# Staging environment

# Apache ports
#  gitweb for web gui interface:
@PORT_HTTP_GITWEB@ = 7043
#  hgit for git clone:
@PORT_HTTP_HGIT@   = 7053

# NGiNX ports
#   for https:
@PORT_NGINX_HTTPS@=7443
#   for http :
@PORT_NGINX_HTTP@=7080
